/* mobile first approach */
:root {
  --section-title-color: rgb(170, 169, 169);
  --icons-color: #684DF4;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  font-size: 1.6rem;
}

/* Top Bar */
.header{
  width: 100%;
  overflow: hidden;
  background: #000;
  padding: 0;
}
.top-bar {
  color: #fff;
  white-space: nowrap;
  width: max-content;
  transform: translate3d(0, 0, 0);
  animation: scroll-horizontally 13s linear infinite;
}

.top-bar:hover{
  animation-play-state: paused;
}

.top-bar-img {
  width: 3rem;
}

.social,
.email,
.phone,
.location {
  justify-content: space-evenly;
  column-gap: 1rem;
  flex-shrink: 0;
  margin: 0 7rem;
}

@keyframes scroll-horizontally {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-50%);
  }
}
/* Navbar */
.navbar {
  background: #fff;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 4;
  font-size: min(1.8rem, 4vw);
  height: 4rem;
  transition: all 0.5s ease;
}

.nav-logo {
  width: 17%;
  max-width: 10rem;
}

.nav-links {
  display: none;
  list-style: none;
  flex-direction: column;
  width: 100%;
  row-gap: 1.3rem;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.nav-link:hover {
  color: #007bff;
}

.quick-btn {
  background: #000;
  color: white;
  text-decoration: none;
  padding: min(1.5rem, 4vw);
  font-weight: 600;
}

.quick-btn:hover, .service-card-button:hover {
  background: #4c1497;
}

.open-nav, .close-nav{
  width: min(13%,5rem);
}

/* closing and opening navigation */
.open-nav,
.close-nav {
  display: block;
  /*only shown in smaller viewport*/
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  top: 3rem;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-list {
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  list-style: none;
}

/* Hero */
.hero {
  background: url("/assets/bg\ image\ kuntakode.avif") no-repeat center top;
  background-size: cover;
  position: relative;
  padding: 12rem 2rem;
  color: #000;
  font-size: min(1.8rem, 4vw);
}

.hero::after {
  content: "";
  background: url("/assets/tech_shape_1.webp") no-repeat right center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  margin-bottom: 50rem;
}

.hero-text {
  max-width: 60rem;
  z-index: 1;
  position: relative;
}

.hero-text-main {
  font-size: 3.2rem;
  line-height: 1.3;
  margin: 2rem 0 0 0;
}

.powerful-digital-solutions {
  margin: 0 0 4rem;
}

.space-between {
  justify-content: space-between;
}

/* Responsive */
@media (min-width: 767px) {
  .hero-text-main {
    font-size: 4.8rem;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }

  /* closing and opening navigation */
  .close-nav,
  .open-nav {
    display: none;
    /*only hidden in larger viewport*/
  }

  .navbar{
    font-size: 1.5vw;
    height: 7rem;
  }

  .hero {
    padding: 18rem 0 18rem 10rem;
  }
}
/* service and about section begins here */

.bg {
  height: 300vh;
  background-image: url(../assets/banner-1\ 1.png), url(../assets/bg\ image\ kuntakode.avif);
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: 100% 30%, 100% 70%;
  margin: 0;
  padding: 0;
}

.transparent {
  color: rgba(128, 128, 128, 0.39);
  font-size: min(12.8rem,18vw);
  font-weight: 900;
  font-style: italic;
  padding-top: 8%;
  padding-left: 2.5%;
  margin: 0;
}

.service-section {
  color: white;
  padding: 17% 3%;
  margin-top: -30rem;
}

.our-services{
  font-size: 2.5rem;
  margin-left: 2rem;
}

.services-comment{
  font-size: min(4.8rem, 7vw);
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.card{
  background: white;
  color: black;
  font-size: 1.8rem;
  border-radius: 4.8rem;
  padding: 20px;
  max-width: 310px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-img{
  width: 20%;
}

.service-card-title{
  margin: 15px 0 10px;
}

.service-card-button {
  font-size: 1.8rem;
  margin-top: 15px;
  padding: 10px 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 3.2rem;
  cursor: pointer;
}

.more-text {
  display: none;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 9.7rem;
  text-align: center;
  padding: 3.2rem 6.4rem;
  flex-wrap: wrap;
  color: black;
  margin-top: -16rem;
}

.about-image {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 700px;
  height: 450px;
  padding-left: 6.4rem;
}

.about-image img:nth-child(1) {
  position: absolute;
  top: 35px;
  left: 4px;
  width: 80px;
  z-index: 2;
}

.about-image img:nth-child(2) {
  position: absolute;
  top: 80px;
  left: 60px;
  width: 400px;
  z-index: 3;
}

.about-image img:nth-child(3) {
  position: absolute;
  top: 30px;
  left: 260px;
  width: 150px;
  z-index: 2;
}

.about-text {
  flex: 2;
  width: 50%;
  font-size: 1.8rem;
}

.about-text h1 {
  color: #80808071;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 0;
}

.about-text h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
}

@media(max-width:768px) {
  .cards{
    flex-wrap: wrap;
  }

  .service-section{
    margin-top: -15rem;
  }

   .about-section {
    display: block;
  }

  .about-text {
    width: 100%;
    font-size: 3.0rem;
  }

  .about-image {
    max-width: 90%;
  }
}
/* sercice and about section ends here */

/*style for projects and team begins here*/
.section-title {
  font-size: 4rem;
  font-weight: 1000;
  color: rgb(170, 169, 169);
  font-style: italic;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.title-icon {
  height: 2rem;
  margin: 0;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-sub-title-container {
  justify-content: center;
  font-size: 1.7rem;
  gap: 1rem;
  margin-bottom: 3rem;
  font-weight: bold;
  text-align: center;
}

.sub-title,
.title-shape {
  margin: 0;
}

.red {
  color: red;
}

.projects,
.team {
  background-image: url('../assets/bg\ image\ kuntakode.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem;
  margin: 0;
  position: relative;
}

.members-container,
.project-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 5rem;
  overflow-x: scroll;
  /* Change to 'scroll' to enable native snapping */
  width: 95%;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
  /* Snap horizontally, must snap to a point */
}

.member-card,
.project-card {
  flex-shrink: 0;
  text-align: center;
  background-color: white;
  scroll-snap-align: start;
}

.project-card {
  padding: 0;
  justify-content: center;
  padding-bottom: 2rem;
  max-width: 23rem;
}

.member-card {
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 2rem;
  height: max(35rem, 60vh);
  max-width: 60vw;
}

/*Hide scrollbar visually while retaining functionality */
.members-container::-webkit-scrollbar {
  display: none;
  /* For Webkit browsers (Chrome, Safari, Edge) */
}

.project-container::-webkit-scrollbar {
  display: none;
}

.project-img {
  width: 100%;
  height: 25rem;
}

.project-title,
.member-name {
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 1rem;
}

.project-title {
  font-size: 1.6rem;
}

.project-description {
  margin: 0 auto;
  font-size: 1.2rem;
  width: 80%;
}

.member-name,
.member-role {
  font-size: 1.5rem;
}

.member-img {
  width: 100%;
  border-radius: 2rem;
}

.member-role {
  color: rgb(165, 0, 0);
  font-weight: 700;
}

.socialmedia {
  text-decoration: none;
}

.socialmedia-handles {
  width: 100%;
  justify-content: center;
  gap: 1.5rem;
}

.previous,
.previous-project,
.next,
.next-project {
  position: absolute;
  width: 4.8rem;
  cursor: pointer;
  top: 50%;
  z-index: 1;
}

.previous,
.previous-project {
  left: 0;
}

.next,
.next-project {
  right: 0;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* Adjust spacing as needed */
}

.carousel-dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ccc;
  /* Default dot color */
  margin: 0 5px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.carousel-dot.active {
  background-color: #333;
  /* Active dot color */
}

/* Style for disabled arrows */
.arrow-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/*style for projects and team ends here*/

/* styles for testimonial ,business, and articles starts here */
/* Testimonials Section */
.testimonials-section {
  background: url("https://res.cloudinary.com/df5b1c189/image/upload/v1753216959/testi_cover_lb04y4.jpg") center/cover no-repeat;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 4em;
}

.testimonials-title {
  font-size: 3rem;
  opacity: 0.3;
}

.customer-feedback {
  margin: 0.5rem 0;
  font-weight: bold;
}

.to-eparate {
  margin-right: 7em;
}

.testimonials-heading {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  align-items: center;



}

.testimonial-card {
  background: white;
  color: #000;
  display: inline-block;
  overflow: visible;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;



}

.testimonial-img-stars {
  display: flex;
  gap: 0.75rem;
}

.client-photo {
  border-radius: 25%;
  margin-top: -40px;
  margin-left: 2em;
  border: 3px solid white;
}

.stars {
  color: black;
  margin-top: .5em;
  margin-left: auto;
  margin-right: 8em;
}

.card-p {
  width: 100%;
  font-weight: 00;
  margin-top: .5em;
  text-align: left;
  word-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 1em;
  padding-left: 2em;

}

.card-name {
  font-weight: 600;
  font-size: medium;
  text-align: left;
  padding-left: 2em;
  display: block;
}

.client-role {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 3em;
  text-align: left;
  padding-left: 4em;
  font-style: italic;
  display: block;

}

.arrow {
  background: white;
  border-radius: 50%;
  outline: black;
  color: black;
  cursor: pointer;
  padding: .5em;
  display: flex;
  font-weight: bold;
  font-size: 2.2rem;
  width: 56px;
  border: 3px solid #111;
}

.right {
  margin: auto;
  display: block;

}

/* Business Section */
.business-solutions {
  background: #f8f8f8;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.business-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3rem;

}

.business-img {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
}

.business-content {
  text-align: center;
}

.about-business {
  font-weight: 1000;
  font-size: 1.4rem;
}

.contact-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: .5em 1.5em .5em 1em;
  margin-top: 1rem;
  border-radius: 4%;
  cursor: pointer;
  font-weight: bold;
}

/* Articles Section */
.articles-section {
  padding: 2rem 1rem;
  background-color: #fff;
}

.articles-title {
  color: red;
  font: bold;
  font-weight: 800;
  font-size: 1.2rem;
}

.articles-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.articles-heading {
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.blog-cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  padding-bottom: 1rem;
  overflow: hidden;
  outline: white;

}

.blog-img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  border: 8px solid white;
}

.blog-meta {
  display: flex;
  color: #625e5e;
  padding: 0.75rem 1rem 0;
}

.date {
  font-weight: 600;
  font-size: small;
}

.blog-author {
  margin-left: auto;
  font-weight: 600;
  font-size: small;
}

.blog-title {
  font-weight: 900;
  font-size: medium;
  text-align: center;

}

.blog-p {
  font-weight: 500;
  text-align: center;
  font: bold;
  font-size: 1.3rem;
}

.blog-btn {
  color: white;
  background-color: black;
  border: none;
  padding: .5em 2em .5em 2em;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 2em;
  margin-bottom: .5em;

}

.read-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #000;
  color: white;
  border: none;
  border-radius: 6px;
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.more-blogs {
  color: white;
  background-color: black;
  border: none;
  padding: .5em 2em .5em 2em;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  margin-top: 2em;
  margin-bottom: .5em;

}



/* Responsive (Tablet & Up) */
@media (min-width: 640px) {
  .testimonial-cards {
    flex-direction: row;
    gap: 2em;
    justify-content: center;

  }

  .testimonial-card {
    margin-bottom: -200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  .arrow {
    display: flex;
    margin-bottom: -2em;
  }

  .left {
    margin-bottom: -5em;
  }


  .right {
    margin-left: auto;

  }



  .business-solutions {
    margin-top: 25rem;
  }

  .business-card {
    flex-direction: row;
    justify-content: center;

  }

  .business-img {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    object-fit: cover;
  }

  .business-content {
    /* padding-left: 1.5rem; */
    flex: 1;
    text-align: center;

  }

  .blog-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-card {
    width: calc(50% - 1rem);
  }
}

/* Responsive (Desktop & Up) */
@media (min-width: 1024px) {
  .testimonial-card {
    max-width: 400px;
    margin-left: auto;
  }


  .testimonial-cards {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;

  }

  .business-solutions {
    display: flex;
    gap: 2rem;
    justify-content: center;


  }

  .left {
    margin-bottom: -7em;
    margin-left: .5em;
  }

  .blog-card {
    width: calc(33.333% - 1rem);
  }
}

/* styles for the testimonial ,business, and articles ends here */

/* style for footer */
.footer {
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem 1rem;
  background-color: #000;
  color: white;
  text-align: center;
  gap: 5rem;
}

.footer p {
  margin: 0;
}

.first-container {
  justify-content: space-around;
}

.footer-kunta-logo {
  width: 12rem;
}

.subcription-title {
  font-size: 3rem;
  font-weight: 800;
}

.subscription-comment {
  font-size: 2rem;
  font-weight: 600;
}

.footer-email {
  height: 4rem;
  width: 30rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: white;
  background-color: #000;
  border: solid 1px white;
  margin-bottom: .5rem;
}

.footer-send {
  height: 5rem;
  width: 10rem;
  font-size: 2.7rem;
  padding: 0.5rem;
  cursor: pointer;
}

.footer-about-kuntakode {
  width: 30rem;
  text-align: left;
}

.footer-about-title,
.footer-social-title,
.copyright-text,
.powered-by {
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
}

.footer-about-comment {
  font-size: 1.3rem;
}

.footer-social-icon {
  width: 5rem;
}

.footer-social-icons {
  column-gap: 3rem;
}

/* end of style for footer */

/* style for larger viewport */
@media (min-width: 41.2rem) {

  .member-card,
  .project-card {
    max-width: 30rem;
    /* Fixed width, good */
  }

  .member-card {
    padding: 2rem;
    height: 50rem;
  }

  .section-title {
    font-size: 6rem;
  }

  .sub-title {
    font-size: 3rem;
  }

  .title-icon {
    height: 3rem;
  }

  .previous,
  .previous-project,
  .next,
  .next-project {
    width: 7.5rem;
  }

  .members-container,
  .project-container {
    margin: 0 4rem;
  }

  .member-name {
    font-size: 2.5rem;
  }

  .member-role {
    font-size: 2.5rem;
  }

  .long-role {
    font-size: 2rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1.3rem;
  }
}